[submodule "minishell"]
	path = minishell
	url = https://github.com/brilliantshell/minishell.git
[submodule "miniRT"]
	path = miniRT
	url = https://github.com/brilliantshell/miniRT.git
[submodule "ft_cpp"]
	path = ft_cpp
	url = https://github.com/42ghan/ft_cpp.git
[submodule "ft_containers"]
	path = ft_containers
	url = https://github.com/42ghan/ft_containers.git
